body {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  color: #efefef;
  letter-spacing: 1px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background: url("../imgs/forest.jpg");
  background-size: cover;
}

footer img {
  width: 5%;
}

ul {
  background-color: rgba(0, 0, 0, 0.41);
  padding: 0px;
}
nav {
  margin-top: 210px;
}

nav li {
  padding: 10px 0px;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #efefef;
}

main{
  display: none;
}

@media screen and (min-width: 580px){
  nav {
    margin-top: 0px;
  }
  nav li {
    display: inline;
    list-style: none;
    padding: 15px;
  }
  main {
    display: block;
  }
  body {
    background-image: url("../imgs/bigForest.jpg");
    background-size: cover;
  }
}
