.name h1 {
  padding: 50px;
  font-size: 72px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
}

#toad {
  margin: 50px;
  max-width: 150px;
  max-height: 250px;
  margin: auto 0px;
}

.icons {
  max-width: 30px;
  max-height: 30px;
}

.template {
  display: none;
}

.resume-page {
  width: 100%;
  padding-top: 2%
}

#projects {
  padding: 2%;
}

@media screen and (min-width: 580px){

  .resume-page {
    width: 60%;
  }

}
