/*HOME PAGE*/
.name h1 {
  margin-top: 74px;
  font-size: 72px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
}

#toad {
  margin: 50px;
  max-width: 150px;
  max-height: 250px;
  margin: auto 0px;
}
/*HOME PAGE END*/

/*ABOUT ME*/
#notepad {
  width: 100%;
}
/*ABOUT ME END*/

/*CURRICULUMN VITAE*/
#toad-wuh {
  padding-bottom: 2%;
  margin: 50px;
  max-width: 150px;
  max-height: 250px;
  margin: auto 0px;
}

.resume-page {
  width: 100%;
  padding-bottom: 2%;
}
/*CURRICULUMN VITAE END*/

/*PORTFOLIO*/
#toad-mac {
  margin: 50px;
  max-height: 250px;
  margin: auto 0px;
}

.template {
  display: none;
}

.image-homepage {
  width: 95%;
}

.byline {
  padding-bottom: 5px;
}

.project-body {
  padding-bottom: 40px;
}
/*PORTFOLIO END*/

/*CONTACT ME*/
#toad-hi {
  margin: 50px;
  max-width: 150px;
  max-height: 250px;
  margin: auto 0px;
}

.form label {
  margin-right: 10px;
  display: block;
  padding-bottom: 5px;
}

textarea {
  width: 250px;
  height: 50px;
}
/*CONTACT ME END*/

.icons {
  max-width: 30px;
  max-height: 30px;
}

@media screen and (min-width: 580px){
  /*ABOUT ME*/
  #notepad {
    width: 40%;
  }
  /*ABOUT ME END*/

  /*CURRICULUMN VITAE*/
  #toad-wuh {
    padding-bottom: 2%;
  }
  .resume-page {
    width: 60%;
    padding-bottom: 2%;
  }
  /*CURRICULUMN VITAE END*/

  /*PORTFOLIO*/
  .image-homepage {
    width: 50%;
  }

  .byline {
    padding-bottom: 5px;
  }

  .project-body {
    padding-bottom: 40px;
  }
  /*PORTFOLIO END*/

  /*CONTACT ME*/
  input, textarea {
    padding: 10px;
    border: 1px solid #E5E5E5;
    width: 200px;
    color: #999999;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  }

  textarea {
    width: 400px;
    height: 111px;
    max-width: 400px;
    line-height: 18px;
  }

  input:hover, textarea:hover,
  input:focus, textarea:focus {
    border-color: 1px solid #C9C9C9;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
  }

  .form label {
    margin-right: 10px;
    color: #999999;
    display: block;
    padding-bottom: 5px;
  }

  .submit button {
    float: right;
    margin-right: 284px;
    margin-top: 10px;
    width: 100px;
    height: 40px;
    background-color: #474E69;
    color: #FFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
  }

  .form {
    text-align: left;
  }

  .form p {
    margin: 0;
  }

  .name-and-email {
    float: left;
    margin-left: 310px;
    padding-right: 40px
  }

  .email {
    padding-top: 40px;
  }
  /*CONTACT ME END*/

}
