.name h1 {
  padding: 50px;
  font-size: 72px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.41);
}

#toad {
  margin: 50px;
  max-width: 150px;
  max-height: 250px;
  margin: auto 0px;
}

.icons {
  max-width: 30px;
  max-height: 30px;
}
